body{
    margin: 0;
    padding: 0;
    background-color:lightpink;
    font-family: Arial, Helvetica, sans-serif;
}
.login{
    width: 382px;
    overflow: hidden;
    margin: auto;
    margin: 20 0 0 450px;
    padding: 80px;
    background: green;
    border-radius: 15px;
}
h1{
    text-align: center;
    color: brown;
    padding: 20px;
    
}
label{
    color:yellow;
    font-size: 17px;
}
#uname{
    width: 300px;
    height:30px;
    border:none;
    border-radius: 3px;
    padding-left: 8px;
}
#pass{
    width: 300px;
    height:30px;
    border:none;
    border-radius: 3px;
    padding-left: 8px;
}
#log {
    width: 300px;
    height:30px;
    border:none;
    border-radius: 17px;
    padding-left: 7px;
    color:black;
}
span{
    color: white;
     font-size: 17px;
}
a{
    float: right;
    background-color: grey;
}